<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link panel-open" data-panel="left">
            <i class="icon f7-icons if-ios">menu</i>
            <i class="icon material-icons if-md">menu</i>
          </a>
        </div>
        <div class="title sliding">My App</div>
        <div class="right">
          <a href="#" class="link panel-open" data-panel="right">
            <i class="icon f7-icons if-ios">menu</i>
            <i class="icon material-icons if-md">menu</i>
          </a>
        </div>
      </div>
    </div>

    <div class="toolbar tabbar toolbar-bottom-md">
      <div class="toolbar-inner">
        <!-- additional "data-route-tab-id" must match to tab's ID in the specified routes -->
        <a href="/"         class="tab-link"  data-route-tab-id="tab-1">Tab 1</a>
        <a href="/tab-2/"   class="tab-link"  data-route-tab-id="tab-2">Tab 2</a>
        <a href="/tab-3/"   class="tab-link"  data-route-tab-id="tab-3">Tab 3</a>
      </div>
    </div>
    <!-- Additional "tabs-routable" is required on tabs -->
    <div class="tabs tabs-routable">
      <div class="tab page-content" id="tab-1"></div>
      <div class="tab page-content" id="tab-2"></div>
      <div class="tab page-content" id="tab-3"></div>
    </div>

    <!--<div class="toolbar toolbar-bottom">
      <div class="toolbar-inner">
        <a href="#" class="link">Left Link</a>
        <a href="#" class="link">Right Link</a>
      </div>
    </div> -->

    <div class="page-content">
      <div class="block block-strong">
        <p>Here is your blank Framework7 app. Let's see what we have here.</p>
      </div>
      <div class="block-title">Navigation</div>
      <div class="list">
        <ul>
          <li>
            <a href="/about/" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">About</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/form/" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Form</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="block-title">Modals</div>
      <div class="block block-strong">
        <div class="row">
          <div class="col-50">
            <a href="#" class="button button-fill button-raised popup-open" data-popup="#popup">Popup</a>
          </div>
          <div class="col-50">
              <a href="#" class="button button-fill button-raised login-screen-open" data-login-screen="#login-screen">Login Screen</a>
          </div>
        </div>
      </div>
      <div class="block-title">Panels</div>
      <div class="block block-strong">
        <div class="row">
          <div class="col-50">
            <a href="#" class="button button-fill button-raised panel-open" data-panel="left">Left Panel</a>
          </div>
          <div class="col-50">
            <a href="#" class="button button-fill button-raised panel-open" data-panel="right">Right Panel</a>
          </div>
        </div>
      </div>
      <div class="list">
        <ul>
          <li>
            <a href="/dynamic-route/blog/45/post/125/?foo=bar#about" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">Dynamic Route</div>
              </div>
            </a>
          </li>
          <li>
            <a href="/load-something-that-doesnt-exist/" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">Default Route (404)</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  export default {}
</script>
